<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }} ">
    <title>Checkerboard</title>
</head>
<body>
    <h1>Checkerboard</h1>
    <div class="checkerboard">
        {% for rows in range(boardRow) %}
        <div class="row">
            {% for i in range(boardColumn) %}
            <div class="block{{ (i + rows) % 2 + 1 }}"></div>
            {% endfor %}        
        </div>
        {% endfor %}
    </div>
    </div>
</body>
</html>